body {
    background: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#canvas {
    display: inline-block;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0px 5px 20px 9px #a2a2a2;
}

#start-game {
    padding: .5em;
    margin-top: 1em;
    background: black;
    color: white;
    border: 2px solid red;
    cursor: pointer;
    transition: all .5s ease;
}

#start-game:hover {
    background: red;
}

.hide-btn {
    display: none;
}

.score {
    margin-top: 1.5em;

}

h2 {
    color: white;
}

#instruction {
    color: black;
}

h2 span {
    background: black;
    padding: .25em;
}

#mobile-controls {
    margin-top: 1em;
}

#mobile-controls .arrow {
    width: 40px;
    height: 40px;
    padding: .2em;
    border: 2px solid black;
    background: black;
    border-radius: 4px;
    cursor: pointer;
}

#mobile-controls .arrow:active {
    background: red;
}

.arrow.arrow-up, .arrow#arrow-down {
    display: inline-block;
}

#arrow-left, #arrow-right {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

.horizontal {
    display: block;
}

.arrow-icon {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#arrow-right .arrow-icon {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#arrow-left .arrow-icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#arrow-up .arrow-icon {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#arrow-down .arrow-icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
@media screen and (max-width: 480px) {
    h2 {
        font-size: 0.9em;
    }

    #instruction {
        display: none;;
    }

    /* #mobile-controls {
        display: block;
    } */
}